{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<div class="row">
    <!-- Sidebar section -->
    <div class="col">
        <div class="row gy-3">
            <!-- Profile -->
            <div class="col-12 text-center">
                <img src="{{ .Params.Image }}" class="img-thumbnail rounded-circle lazyload" alt="{{ .Params.Image }}" width="150">
            </div>

            <!-- Socials -->
            <div class="col-12 text-center">
                <ul class="list-inline">
                    {{ range .Site.Data.socials }}
                    <li class="list-inline-item mx-2">
                        <a href="{{ .url }}" target="_blank" class="text-decoration-none">
                            {{ partial "content/icon.html" . }}
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>

        <div class="row gy-3 d-none d-lg-block">
            <!-- Langs -->
            {{ if and .Site.Params.languages.enabled .IsTranslated }}
            <div class="col-12">
                {{ range .AllTranslations }}
                <p class="mb-0">
                    <strong>{{ .Language.LanguageName }}</strong>: {{ .Language.Params.Description }}
                </p>
                {{ end }}
            </div>
            {{ end }}

            <!-- Behaviors -->
            <div class="col-12">
                <h4>{{ T "resume_sections.behaves" }}</h4>
                {{ range $data.behaves }}
                <p class="mb-0">{{ . }}</p>
                {{ end }}
            </div>

            <!-- Tools -->
            <div class="col-12">
                <h4>{{ T "resume_sections.tools" }}</h4>
                <ul class="list-inline mb-0">
                    {{ range .Site.Data.tools }}
                    <li class="list-inline-item mt-1">{{ partial "content/icon.html" . }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>

    <!-- Main section -->
    <div class="col-12 col-lg-8 gy-3">
        <div class="row gy-3">
            <!-- Title & About -->
            <div class="mt-0">
                <h2>{{ T "resume_sections.title" }}</h2>
                <p class="mb-0">{{ .Description }}</p>
            </div>

            <!-- Langs -->
            {{ if and .Site.Params.languages.enabled .IsTranslated }}
            <div class="col-12 d-lg-none">
                {{ range .AllTranslations }}
                <p class="mb-0">
                    <strong>{{ .Language.LanguageName }}</strong>: {{ .Language.Params.Description }}
                </p>
                {{ end }}
            </div>
            {{ end }}

            <!-- Experiences -->
            <div class="accordion" id="accordion-experiences">
                <h4>{{ T "resume_sections.experiences" }}</h4>
                {{ range $i, $e := $data.experiences }}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-head-{{ $i }}">
                        <button class="experience-accordion-button accordion-button collapsed" type="button" 
                            data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ $i }}" aria-expanded="false" aria-controls="flush-collapse-{{ $i }}">
                            {{ partial "resume/experience.html" (dict "this" $e) }}
                        </button>
                    </h2>
            
                    <div id="flush-collapse-{{ $i }}" class="accordion-collapse collapse" aria-labelledby="flush-head-{{ $i }}" data-bs-parent="#accordion-experiences">
                        <div class="accordion-body">
                            {{ range $e.missions }}
                                {{ if reflect.IsMap . }}
                                    {{ partial "resume/experience.html" (dict "this" . "class" "mb-2") }}
                                {{ else }}
                                    <p class="mb-2">{{ . }}</p>
                                {{ end }}
                            {{ end }}
                            
                            {{ with $e.captions }}
                                <div class="mt-2">
                                    {{ range . }}
                                        <p class="text-end mb-0"><small>{{ . }}</small></p>
                                    {{ end }}
                                </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>

            <!-- Projects -->
            <div>
                <h4>{{ T "resume_sections.projects" }}</h4>
                <div id="carousel-projects" class="carousel-projects carousel carousel-dark slide d-print-none" data-bs-ride="false">
                    <div class="carousel-indicators mb-2">
                        {{ range $i, $p := $data.projects }}
                        <button type="button" data-bs-target="#carousel-projects" data-bs-slide-to="{{ $i }}" class="{{if eq $i 0 }}active{{ end }}" aria-current="{{if eq $i 0 }}true{{ else }}false{{ end }}" aria-label="Slide {{ $i }}"></button>
                        {{ end }}
                    </div>
                    <div class="carousel-inner">
                        {{ range $i, $p := $data.projects }}
                        <div class="carousel-item {{if eq $i 0 }}active{{ end }}">
                            <div class="row position-relative px-3 pb-5">
                                <div class="col-12 col-sm-6 my-auto mx-auto pt-3">
                                    <img src="{{ .image }}" class="w-100 lazyload" alt="{{ .image }}">
                                </div>
                                <div class="col-12 col-sm-6 pt-3">
                                    <h6>{{ $p.title }}</h6>
                
                                    <ul class="list-inline mb-0">
                                        {{ range $p.skills }}
                                        <li class="list-inline-item">{{ partial "content/icon.html" . }}</li>
                                        {{ end }}
                                        <li class="list-inline-item">
                                            <a href="{{ $p.link }}" target="_blank" class="text-decoration-none">
                                                {{ partial "content/icon.html" $p.icon }}
                                            </a>
                                        </li>
                                    </ul>
                
                                    <p class="my-1">{{ $p.description }}</p>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-projects" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-projects" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

            <!-- Education -->
            <div>
                <h4>{{ T "resume_sections.education" }}</h4>
                {{ range $i, $e := $data.educations }}
                <div class="col-12 {{ if not (eq $i (sub (len $data.educations) 1)) }}mb-3{{ end }}">
                    <div class="d-flex w-100 align-items-center h-100">
                        <div class="flex-shrink-0">
                            <img src="{{ $e.image }}" class="img-thumbnail rounded-circle me-3 lazyload" alt="{{ $e.image }}" width="40">
                        </div>
                        <div class="card flex-grow-1">
                            <div class="card-body">
                                <div class="card-title">{{ $e.place }}</div>
                                <div class="card-subtitle"><small>{{ $e.diploma }}</small></div>
                                <ul class="list-inline mt-1 mb-0">
                                    {{ range $e.skills }}
                                    <li class="list-inline-item mt-1">{{ partial "content/icon.html" . }}</li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>

            <!-- Behaviors -->
            <div class="col-12 d-lg-none">
                <h4>{{ T "resume_sections.behaves" }}</h4>
                {{ range $data.behaves }}
                <p class="mb-0">{{ . }}</p>
                {{ end }}
            </div>

            <!-- Tools -->
            <div class="col-12 d-lg-none">
                <h4>{{ T "resume_sections.tools" }}</h4>
                <ul class="list-inline mb-0">
                    {{ range .Site.Data.tools }}
                    <li class="list-inline-item mt-1">{{ partial "content/icon.html" . }}</li>
                    {{ end }}
                </ul>
            </div>

            <!-- Interests -->
            <div class="row mt-3">
                <h4>{{ T "resume_sections.interests" }}</h4>
                {{ range $data.interests }}
                <div class="col-auto mx-auto text-center py-0 mb-2">
                    <img src="{{ .image }}" class="img-thumbnail rounded-circle lazyload" alt="{{ .image }}" width="100">
                    <div><small>{{ .name }}</small></div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}